.achievements-form {
  @media (min-width: $tablet-width) {
    order: 4;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.achievements-form__container {
  padding: 42px 22px 45px;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    padding: 0 0 48px;
    background-color: $white;
  }
}

.achievements-form__title {
  margin: 0;
  margin-bottom: 44px;
  text-align: center;

  &--decore {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: $red;
  }

  @media (min-width: $tablet-width) {
    br {
      display: none;
    }
    padding: 14px 31px;
    margin-bottom: 29px;
  }
}

.achievements-form__group {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 0 60px 50px;
    border: 2px solid $lightgrey;
    border-radius: 1px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 10px;
  }
}

.achievements-form__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}


.achievements-form__item {
  &:not(:last-child) {
    margin-bottom: 47px;
  }

  @media (min-width: $desktop-width) {
    &--position-selfie {
      order: 1;
      flex-basis: 32%;
    }

    &--position-burn {
      order: 4;
      flex-basis: 33%;
    }

    &--position-see {
      order: 2;
      flex-basis: 30%;
    }

    &--position-buy {
      order: 5;
      flex-basis: 31%;
    }

    &--position-keep {
      order: 3;
      flex-basis: 26%;
    }

    &--position-crush {
      order: 6;
      flex-basis: 26%;
    }
  }
}
