.advantages__container {
  padding: 42px 0 30px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 47px 36px 28px;
  }

  @media (min-width: $desktop-width) {
    padding: 62px 210px 53px;
  }
}

.advantages__intro {
  margin: 0;
  margin-bottom: 28px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: $lightblue;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.advantages__slogan {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: $lightblue;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.advantages__list-container {
  position: relative;
  padding: 83px 0 315px;
  background-color: $grey;


  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 34px;
    background-color: $white;
    clip-path: polygon(0 100%, 0 0, 100% 0);
  }

  @media (min-width: $tablet-width) {
    padding: 78px 20px 39px;

    &::before {
      height: 58px;
      // z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 115px 10px;

    &::before {
      height: 100px;
    }
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
}

.advantages__item {
  @media (min-width: $desktop-width) {
    flex-basis: 33.33%;
  }

  &:not(:last-child) {
    margin-bottom: 29px;

    @media (min-width: $tablet-width) {
      margin-bottom: 32px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  &:last-child .advantages__item-image-container {
    display: block;
    position: absolute;
    bottom: 0;
    left: 82px;

    @media (min-width: $tablet-width) {
      left: 20px;
      bottom: 0;
      // z-index: -1;
    }

    @media (min-width: $desktop-width) {
      position: relative;
      left: 0;
      bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.advantages__item-image-container {
  overflow: hidden;
  display: none;
  position: relative;

  @media (min-width: $desktop-width) {
    display: block;

    &::before {
      content: "";
      position: absolute;
      width: 300px;
      height: 18px;
      left: 0;
      right: 0;
      bottom: -9px;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 50%, rgba(0, 0, 0, 0) 100%);
      opacity: 0.3;
      filter: blur(4px);
    }
  }
}

.advantages__item-image {
  margin-bottom: -50px;

  @media (min-width: $tablet-width) {
    width: 268px;
    height: 547px;
    margin-bottom: -76px;
  }

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0 auto;
    margin-bottom: -81px;
    position: relative;
    width: 186px;
    height: 382px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    text-align: start;
  }

  @media (min-width: $desktop-width) {
    padding-top: 59px;
    text-align: center;
    margin-bottom: 23px;
  }

  br {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
  }
}

.advantages__description {
  margin: 0 auto;
  width: 280px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: $lightblue;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    text-align: start;
    width: 310px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;

    br {
      display: block;
    }
  }
}

// .advantages__description-tablet {

//   @media (min-width: $tablet-width) {
//     display: block;
//   }
// }

.advantages__image-container {
  overflow: hidden;
}

.advantages__image {
  display: block;
  margin: auto;
  transform: translateY(43px);

  @media (min-width: $tablet-width) {
    display: none;
  }
}
