.background-image {
  display: block;
  background-image: url("../img/background/background-header-small.webp");
  background-color: $black;
  background-repeat: no-repeat;
  background-size: 320px 462px;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/background-header-small@2x.webp");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/background/background-header-medium.webp");
    background-size: cover;
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background-image: url("../img/background/background-header-medium@2x.webp");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background/background-header-large.webp");
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../img/background/background-header-large@2x.webp");
  }
}
