.button-secondary {
  width: 280px;
  padding: 16px 33px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 30px;

  &--post {
    color: $red;
    border: 3px solid $red;

    &:hover {
      background-color: $red;
      border: 3px solid transparent;
      color: $white;
    }

    &:active {
      background-color: $red;
      border: 3px solid transparent;
      color: #ffffff4d;
    }
  }

  &--cancel {
    border: 3px solid #2836451a;
    color: #2836451a;

    &:hover {
      color: #2836454d;
      border: 3px solid #2836454d;
    }

    &:active {
      background-color: #2836454d;
      border: 3px solid transparent;
      color: #ffffff4d;
    }
  }

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}
