.contacts-form {
  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contacts-form__container {
  padding: 42px 22px 43px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 0 0 46px;
  }
}

.contacts-form__group {
  border: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    border: 2px solid $lightgrey;
    border-radius: 1px;
  }
}

.contacts-form__title--disabled {
  display: none;
}

.contacts-form__title {
  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    margin-bottom: 27px;
    padding: 0 31px;
    text-align: center;

    @media (min-width: $tablet-width) {
      padding: 14px 31px;
      margin-bottom: 23px;
    }
  }
}

.contacts-form__field-container {
  @media (min-width: $tablet-width) {
    padding: 0 60px 37px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding-bottom: 23px;
  }
}

.contacts-form__field-wrapper {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.contacts-form__field {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
  }
}
