.contacts {
  background-color: $white;
}

.contacts__intro {
  padding: 50px 49px 0;
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: $lightblue;

  @media (min-width: $tablet-width) {
    padding: 55px 145px 0;
    margin-bottom: 51px;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 369px 0;
    margin-bottom: 61px;
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 36px;
  }
}

.contacts__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 31px;

    @media (min-width: $tablet-width) {
      margin-bottom: 51px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 39px;
    }
  }

  @media (min-width: $tablet-width) {
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 33.33%;
    &--position-one {
      order: 1;
    }

    &--position-two {
      order: 2;
    }

    &--position-three {
      order: 3;
    }
  }
}

.contacts__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  color: $lightblue;
  margin-bottom: 13px;

  @media (min-width: $tablet-width) {
    margin-bottom: 17px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 34px;
  }
}

.contacts__phone,
.contacts__mail {
  text-decoration: none;
}

.contacts__mail {
  &:hover {
    text-decoration: underline;
    color: $lightblue;
  }

  &:active {
    color: $lightblue;
    opacity: 0.3;
  }
}

.contacts__map {
  width: 320px;
  height: 200px;
  border: none;
  display: block;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 31px;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $white;
    clip-path: polygon(100% 0, 50% 100%, 0 0);
  }

  @media (min-width: $tablet-width) {
    width: 660px;
    height: 374px;

    &::before {
      height: 68px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 502px;

    &::before {
      height: 103px;
    }
  }
}

.contacts__map-google {
  width: 100%;
  height: 100%;
}

.contacts__link {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $red;
}
