.name-form {
  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.name-form__container {
  padding: 0 20px 40px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 0 0 51px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 25px;
    margin-right: 38px;
  }
}

.name-form__field-container {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 56px;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 59px;
  }
}

.name-form__field {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}
