.page {
  height: 100%;
}

.page__body {
  margin: 0 auto;
  width: 320px;
  min-height: 100%;
  font-family: "Open Sans", "Arial", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  background-color: #e5e5e5;
  color: $lightblue;
  // display: grid;
  // grid-template-rows: min-content 1fr min-content;

  @media (min-width: $tablet-width) {
    width: 660px;
    display: grid;
    grid-template-rows: min-content 1fr min-content;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
  }
}
