.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__item {
  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-right: 9px;
    }
  }
}

.social__link {
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 3px solid #2836451a;

  &:hover {
    border: 3px solid $lightblue;
  }
}

.social__link-vk {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .social__link:active & {
    opacity: 0.1;
  }
}

.social__link-telegram {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .social__link:active & {
    opacity: 0.1;
  }
}

.social__link-youtube {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .social__link:active & {
    opacity: 0.1;
  }
}
