.soft-form {
  @media (min-width: $tablet-width) {
    order: 2;
  }

  @media (min-width: $desktop-width) {
    width: 50%;
  }
}

.soft-form__container {
  padding: 45px 22px 40px;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    padding: 0 0 47px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    margin-left: 39px;
  }
}

.soft-form__title {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;

  &--decore {
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
    color: $red;
  }

  @media (min-width: $tablet-width) {
    padding: 14px 25px;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 12px 22px;
    margin-bottom: 34px;
  }
}

.soft-form__group {
  margin: 0;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 0 60px 54px;
    border: 2px solid $lightgrey;
    border-radius: 1px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 28px 54px;
  }
}

.soft-form__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.soft-form__item:not(:last-child) {
  margin-bottom: 38px;
}
