.tariff-plan__grid {
  box-sizing: border-box;
  width: $column-mobile-width * 4;
  border-collapse: collapse;
  transform: translateX(-$column-mobile-width * 2 + 21px);

  @media (min-width: $tablet-width) {
    width: $column-tablet-width * 4;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    width: $column-desktop-width * 4;
  }
}

.tariff-plan__container {
  padding-top: 100px;
  overflow: hidden;
  position: relative;
  background-color: $grey;

  &::before {
    content: "";
    position: absolute;
    height: 20px;
    width: 100%;
    top: 0;
    left: 0;
    background-color: $white;
    clip-path: polygon(0 100%, 0 0, 100% 0);
  }

  @media (min-width: $tablet-width) {
    padding: 98px 20px 72px;

    &::before {
      height: 40px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 159px 130px 96px;

    &::before {
      height: 100px;
    }
  }
}

.tariff-plan__title,
.tariff-plan__advantage-title {
  width: $column-mobile-width;

  @media (min-width: $tablet-width) {
    width: $column-tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $column-desktop-width;
    font-size: 18px;
  }
}

.tariff-plan__title {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 98px;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $tablet-width) {
    height: 75px;
    padding-top: 15px;
  }

  @media (min-width: $desktop-width) {
    height: 94px;
    font-size: 18px;
    line-height: 24px;
    padding: 0;
  }

  &--decore {
    background-color: $lightblue;
    border-left: 2px solid $grey;
    border-right: 2px solid $grey;
  }

  &--disabled {
    @media (min-width: $tablet-width) {
      display: block;
      visibility: hidden;
    }
  }

  &--hit::after {
    content: "Хит";
    width: 111px;
    height: 22px;
    position: absolute;
    top: 21px;
    left: -30px;
    transform: rotate(-45deg);
    background-color: $red;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;

    @media (min-width: $tablet-width) {
      width: 147px;
      height: 19px;
      left: -54px;
      top: 13px;
      line-height: 19px;
    }

    @media (min-width: $desktop-width) {
      width: 125px;
      height: 24px;
      left: -33px;
      top: 16px;
    }
  }
}

.tariff-plan__price {
  font-weight: 300;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  display: block;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.tariff-plan__advantage-title {
  position: relative;
  box-sizing: border-box;
  padding: 21px 120px 24px 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  background-color: $white;
  border: 2px solid $lightgrey;
  border-top: none;
  color: $lightblue;

  @media (min-width: $tablet-width) {
    padding: 15px 24px 17px 15px;
    text-transform: inherit;
  }

  @media (min-width: $desktop-width) {
    padding: 20px;
    font-size: 17px;
    line-height: 19px;
  }

  &--disabled {
    @media (min-width: $tablet-width) {
      font-size: 1px;
      color: transparent;
    }
  }

  &--disabled-icon {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.tariff-plan__advantage-title-yes {
  position: absolute;
  right: 15px;
  bottom: 34%;
  width: 31px;
  height: 21px;

  @media (min-width: $tablet-width) {
    right: 40%;
    bottom: 22%;
  }

  @media (min-width: $desktop-width) {
    right: 42%;
    bottom: 29%;
  }
}

.tariff-plan__advantage-title-no {
  position: absolute;
  right: 17px;
  bottom: 27%;
  width: 27px;
  height: 27px;
  background-repeat: no-repeat;
  background-position: right 19px bottom 50%;

  @media (min-width: $tablet-width) {
    right: 40%;
    bottom: 22%;
  }

  @media (min-width: $tablet-width) {
    right: 44%;
    bottom: 25%;
  }
}

.tariff-plan__toggles {
  margin-top: 44px;
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
