.user-card {
  margin: 0 10px 21px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: calc(50% - 20px);
  }

  @media (min-width: $desktop-width) {
    width: calc(33% - 17px);
    margin-bottom: 50px;
  }

  &--hit {
    padding: 0;
    margin: 0;
    position: relative;

    &::after {
      content: "Панорама дня";
      position: absolute;
      width: 140px;
      height: 36px;
      top: 0;
      right: 20px;
      text-transform: uppercase;
      text-align: center;
      font-size: 12px;
      line-height: 36px;
      font-weight: 700;
      color: $white;
      background-color: $red;

      @media (min-width: $tablet-width) {
        top: 57px;
      }

      @media (min-width: $desktop-width) {
        top: 54px;
        right: 130px;
      }
    }

    @media (min-width: $tablet-width) {
      width: 100%;
      margin-bottom: 48px;
    }

    @media (min-width: $desktop-width) {
      margin-bottom: 50px;
    }
  }
}


.catalog__list {
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.user-card__container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 19px 10px 16px 17px;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 27px 30px 25px 31px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 30px 27px 27px;
    // padding-right: 30px;
  }

  &--hit {
    margin: 0 20px 19px;
    padding: 19px 10px 17px 17px;
    background-color: $grey;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      padding: 29px 30px 29px 30px;

      br {
        display: none;
      }
    }

    @media (min-width: $desktop-width) {
      margin: 0 130px;
      padding: 30px;
      padding-bottom: 24px;
    }
  }
}


.user-card__photo {
  display: block;

  @media (min-width: $tablet-width) {
    width: 300px;
    height: 300px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }

  &--hit {
    @media (min-width: $tablet-width) {
      width: 660px;
      height: 509px;
    }

    @media (min-width: $desktop-width) {
      width: 1200px;
      height: 506px;
    }
  }
}

.user-card__author {
  margin: 0;
  margin-bottom: 2px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: $lightblue;

  @media (min-width: $tablet-width) {
    &--hit {
      flex-basis: 50%;
      margin-bottom: 4px;
    }
    line-height: 14px;
    margin-bottom: 3px;
  }
}

.user-card__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: $lightblue;

  @media (min-width: $tablet-width) {
    line-height: 12px;
  }
}

.user-card__description {
  margin: 0;
  width: 100%;
  margin-bottom: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: $lightblue;

  @media (min-width: $tablet-width) {
    flex-basis: 100%;
    margin-bottom: 45px;

    &--position {
      margin-bottom: 22px;
    }
  }

  &--hit {
    // margin-bottom: 9px;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      order: 3;
    }

    @media (min-width: $desktop-width) {
      br {
        display: none;
      }
    }
  }
}

.user-card__like {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}
