.achievements-form__container {
  padding: 42px 22px;
}

.achievements-form__title {
  margin: 0;
  margin-bottom: 44px;
  text-align: center;
}

.achievements-form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.achievements-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

