.achievements-form {
  @media (min-width: $tablet-width) {
    order: 4;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.achievements-form__container {
  padding: 42px 22px;

  @media (min-width: $tablet-width) {
    padding: 0 0 51px;
  }
}

.achievements-form__title {
  margin: 0;
  margin-bottom: 44px;
  text-align: center;
}

.achievements-form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.achievements-form__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

