.advantages__container {
  padding: 46px 0 70px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 58px 36px 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 210px 72px;
  }
}

.advantages__intro {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: $lightblue;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 40px;
    line-height: 54px;
  }
}

.advantages__slogan {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: $lightblue;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }
}

.advantages__list-container {
  padding: 53px 0 368px;
  background-image: url("../img/photo-screen-hello-large.png");
  background-repeat: no-repeat;
  background-position: bottom -43px center;
  background-size: 157px 320px;

  @media (min-width: $tablet-width) {
    padding: 101px 20px 49px;
    background-position: 21px 0;
    background-size: 268px 547px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 154px 59px;
    background-image: none;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
  }
}

.advantages__item {
  @media (min-width: $desktop-width) {
    padding-top: 360px;
  }
}

.advantages__item:not(:last-child) {
  margin-bottom: 43px;

  @media (min-width: $tablet-width) {
    margin-bottom: 46px;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: $black;
}

.advantages__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  align-items: center;
  text-align: center;
  color: $lightblue;
}

.advantages__image-container {
  overflow: hidden;
}

.advantages__image {
  display: block;
  margin: auto;
  transform: translateY(43px);

  @media (min-width: $tablet-width) {
    display: none;
  }
}
