.advantages__container {
  padding: 46px 0 70px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 58px 36px 47px;
  }

  @media (min-width: $desktop-width) {
    padding: 77px 210px 72px;
  }
}

.advantages__intro {
  margin: 0;
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: $lightblue;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.advantages__slogan {
  margin: 0;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  color: $lightblue;

  @media (min-width: $tablet-width) {
    font-size: 40px;
    line-height: 54px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
    line-height: 68px;
  }
}

.advantages__list-container {
  position: relative;
  padding: 53px 0 325px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 34px;
    background-color: $white;
    clip-path: polygon(0 100%, 0 0, 100% 0);
  }

  @media (min-width: $tablet-width) {
    padding: 71px 20px 49px;

    &::before {
      height: 76px;
      z-index: -1;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0 154px 59px;

    &::before {
      height: 100px;
    }
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin-left: auto;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;
  }
}

.advantages__item {
  &:not(:last-child) {
    margin-bottom: 43px;

    @media (min-width: $tablet-width) {
      margin-bottom: 46px;
    }

    @media (min-width: $desktop-width) {
      margin: 0;
    }
  }

  // &:last-child {
  //   display: flex;
  //   flex-direction: column;
  // }

  &:last-child .advantages__item-image-container {
    display: block;
    position: absolute;
    bottom: 0;
    left: 82px;

    @media (min-width: $tablet-width) {
      left: 20px;
      bottom: -28px;
      z-index: -1;
    }

    @media (min-width: $desktop-width) {
      position: static;
    }
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}

.advantages__item-image-container {
  overflow: hidden;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.advantages__item-image {
  margin-bottom: -45px;

  @media (min-width: $desktop-width) {
    display: block;
    margin: 0 auto;
    margin-bottom: -81px;
    position: relative;
  }
}

.advantages__title {
  margin: 0;
  margin-bottom: 24px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1;
  align-items: center;
  text-align: center;
  color: $black;

  @media (min-width: $desktop-width) {
    padding-top: 59px;
  }

  br {
    display: none;

    @media (min-width: $desktop-width) {
      display: block;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;

    // &::before {
    //   content: "";
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   width: 300px;
    //   height: 17px;
    //   background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000000 49.8%, rgba(0, 0, 0, 0) 93.23%);
    //   opacity: 0.3;
    //   filter: blur(4px);
    // }
  }
}

.advantages__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  align-items: center;
  text-align: center;
  color: $lightblue;

  @media (min-width: $tablet-width) {
    text-align: start;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
    text-align: center;
  }
}

.advantages__image-container {
  overflow: hidden;
}

.advantages__image {
  display: block;
  margin: auto;
  transform: translateY(43px);

  @media (min-width: $tablet-width) {
    display: none;
  }
}
