.button-catalog {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.button-catalog--hit {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-basis: 50%;
    flex-direction: row-reverse;
    justify-content: flex-start;
    order: 1;
    align-items: center;
  }
}

.button-catalog__like {
  padding: 0;
  border: none;
  cursor: pointer;
}

.button-catalog__like-text {
  margin-left: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: $red;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: 137px;
  }
}

.button-catalog__like-text--hit {
  @media (min-width: $tablet-width) {
    margin-left: 0;
    margin-right: 16px;
  }
}
