.button-secondary {
  width: 280px;
  padding: 16px 36px;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  cursor: pointer;
  border-radius: 30px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.button-secondary--post {
  color: $red;
  border: 3px solid $red;
}

.button-secondary--cancel {
  opacity: 0.1;
  border: 3px solid $lightblue;
}
