
.button-catalog__like {
  padding: 0;
  border: none;
  cursor: pointer;
}

.button-catalog__like-text {
  margin-left: 18px;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  color: #d22856;
}
