.catalog {
  background-color: $white;
}

.catalog__description-container {
  padding: 54px 20px 60px;

  @media (min-width: $tablet-width) {
    padding: 100px 20px 85px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 314px 97px;
  }
}

.catalog__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $lightblue;
}


.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.catalog__footer-contrainer {
  padding: 29px 20px 52px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 53px 119px 78px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 389px 75px;
  }
}

.catalog__footer {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $lightblue;
}
