.catalog {
  background-color: #ffffff;
}

.catalog__description-container {
  padding: 54px 20px 60px;
}

.catalog__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.catalog__footer-contrainer {
  padding: 29px 20px 52px;
  background-color: #ffffff;
}

.catalog__footer {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}
