.contacts-form {
  @media (min-width: $tablet-width) {
    order: 3;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.contacts-form__container {
  padding: 42px 22px 44px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 0 0 51px;
  }
}

.contacts-form__title--disabled {
  display: none;
}

.contacts-form__title {
  @media (min-width: $tablet-width) {
    display: block;
    margin: 0;
    text-align: center;
  }
}

.contacts-form__field-container {
  @media (min-width: $tablet-width) {
    padding: 27px 60px 37px;
  }
}

.contacts-form__field {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: column-reverse;
  }
}
