.editor__buttons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 57px;
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    justify-content: space-between;
    align-items: normal;
    padding: 0;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 140px;
  }
}

.editor__button-container {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
    padding-bottom: 24px;
    border-bottom: 1px solid #2836451a;

    &:last-child {
      margin-left: 6px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 13px;
    margin-bottom: 15px;
  }
}

.editor__button {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;

  &--active g {
    fill: $red;
    opacity: 1;
  }

  @media (max-width: $mobile-width-only) {
    &--active:nth-child(1) g {
      fill: $lightblue;
      opacity: 0.3;
    }
  }
}

.editor__button-icon {
  &:hover g {
    opacity: 0.5;
  }

  @media (min-width: $tablet-width) {
    width: 22px;
    height: 22px;

    &--size {
      width: 16px;
      height: 16px;
    }
  }

  @media (min-width: $desktop-width) {
    width: 44px;
    height: 44px;

    &--size {
      width: 32px;
      height: 32px;
    }
  }
}

.editor__slider-container {
  position: relative;
}

.editor__slider-range {
  width: 240px;
  height: 2px;
  background-color: $lightblue;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 202px;
  }

  @media (min-width: $desktop-width) {
    width: 288px;
  }
}

.editor__slider-range--disabled {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.editor__slider-range-last--disabled {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.editor__slider-range-toggle {
  width: 14px;
  height: 14px;
  padding: 0;
  position: absolute;
  transform: translate(200px, -5px);
  cursor: pointer;
  box-sizing: border-box;
  background: $white;
  border: 2px solid $red;
  border-radius: 50%;

  &:active {
    background-color: $red;
  }

  @media (min-width: $tablet-width) {
    &--size {
      transform: translate(160px, -5px);
    }

    &--color {
      transform: translate(25px, -5px);
    }

    &--contrast {
      transform: translate(96px, -5px);
    }
  }
}
