.feedback-form {
  @media (min-width: $tablet-width) {
    order: 5;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.feedback-form__container {
  padding: 42px 22px 52px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 0 0 70px;
  }
}

.feedback-form__title {
  margin: 0;
  margin-bottom: 22px;
  text-align: center;
}

.feedback-form__text-container {
  @media (min-width: $tablet-width) {
    padding: 28px 60px 53px;
  }
}

.feedback-form__text {
  width: 100%;
  height: 197px;
  box-sizing: border-box;
  padding: 22px 25px 0 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.3;
  color: #283645;
  border: 2px solid $lightgrey;
  border-radius: 1px;
  overflow: hidden;
  resize: none;
}

