.main-form__youself {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 130px;
  }
}

.main-form__description-container {
  padding: 54px 20px 55px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 100px 85px 82px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 222px 70px;
  }
}

.main-form__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: $lightblue;
}

.main-form__footer {
  padding: 0 20px 26px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    order: 6;
    display: flex;
    justify-content: space-between;
    padding: 0 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
    padding-bottom: 0;
  }
}

.main-form__send {
  margin-bottom: 46px;
}

.main-form__required-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}

.main-form__required-text-disabled {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}
