.main-header {
  background-color: $black;
  color: $white;
}

.main-header__background-image {
  display: block;
  background-image: url("../img/background/background-header-small.jpg");
  background-color: $black;
  background-repeat: no-repeat;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/background/background-header-small@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("../img/background/background-header-medium.jpg");
    background-size: cover;
  }

  @media (min-width: $tablet-width) and (min-resolution: 2dppx) {
    background-image: url("../img/background/background-header-medium@2x.jpg");
  }

  @media (min-width: $desktop-width) {
    background-image: url("../img/background/background-header-large.jpg");
  }

  @media (min-width: $desktop-width) and (min-resolution: 2dppx) {
    background-image: url("../img/background/background-header-large@2x.jpg");
  }
}

.main-header__content {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 102px 20px 119px;
    width: 50%;
    z-index: 2;
  }

  @media (min-width: $desktop-width) {
    padding: 114px 130px 130px;
    width: 310px;
  }
}

.main-header__slogan {
  margin: 0;
  padding: 29px 20px 320px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 39px;
    padding: 0;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
    font-size: 50px;
    line-height: 68px;
  }
}

.main-header__slogan-form {
  margin: 0;
  padding: 36px 46px 51px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 61px 20px 65px;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 226px 104px;
  }
}

.main-header__image {
  position: absolute;
  bottom: 286px;
  left: 0;

  @media (min-width: $tablet-width) {
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 660px;
    height: 545px;
  }

  @media (min-width: $desktop-width) {
    left: 146px;
    width: 1050px;
    height: 645px;
  }
}

.main-header__catalog-slogan {
  margin: 0;
  padding: 36px 74px 84px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 81px 151px 143px;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 422px 104px;
  }
}

.main-header__store {
  padding: 28px 20px 38px 20px;
  background-color: $darkblue;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: transparent;
  }
}
