.main-form__description-container {
  padding: 54px 20px 55px;
  background-color: #ffffff;
}

.main-form__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-align: center;
  color: #283645;
}

.main-form__footer {
  padding: 0 22px 26px;
  background-color: #ffffff;
}

.main-form__send {
  margin-bottom: 46px;
}

.main-form__required-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
}
