.main-nav {
  position: relative;
  background-color: #0000004b;
  box-sizing: border-box;
  padding: 0;

  &--opened {
    background-color: $lightblue;
    z-index: 50;

    @media (min-width: $tablet-width) {
      width: 660px;
    }
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-around;
  }
}

.main-nav__header-container {
  display: flex;
  justify-content: space-between;
  padding: 21px 20px;
  box-shadow: 0 1px 0 #000000;

  @media (min-width: $tablet-width) {
    padding: 27px 20px 42px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    padding: 41px 0 43px;
  }
}

.main-nav__logo {
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    height: 40px;
  }
}

.main-nav__logo-image {
  display: block;

  &:hover path {
    fill: $red;
  }

  @media (min-width: $tablet-width) {
    width: 145px;
    height: 40px;
  }

  @media (min-width: $desktop-width) {
    width: 147px;
  }
}

.main-nav__container {
  @media (max-width: $desktop-width) {
    display: none;
    position: absolute;
    top: 66px;
    left: 0;
    right: 0;
    background-color: $lightblue;

    .main-nav--opened & {
      display: block;
    }
  }
}


.main-nav__toggle {
  position: absolute;
  top: 21 px;
  right: 20px;
  z-index: 2;
  display: block;
  width: 50px;
  height: 24px;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @media (min-width: $tablet-width) {
    top: 35px;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.main-nav__toggle::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 4px;
  background-color: #ffffff;
  box-shadow: 0 10px 0 0 #ffffff, 0 20px 0 0 #ffffff;
  border-radius: 10px;
}

.main-nav__toggle:hover::before {
  background-color: $red;
  box-shadow: 0 10px 0 0 $red, 0 20px 0 0 $red;
}

.main-nav__toggle:active::before {
  background-color: $red;
  box-shadow: 0 10px 0 0 $red, 0 20px 0 0 $red;
  opacity: 0.3;
}

.main-nav--opened .main-nav__toggle {
  top: 20px;
  left: auto;
  width: 23px;
}


.main-nav--opened .main-nav__toggle::before,
.main-nav--opened .main-nav__toggle::after {
  content: "";
  position: absolute;
  top: 10px;
  left: -3px;
  width: 29px;
  height: 3px;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    top: 17px;
  }
}

.main-nav--opened .main-nav__toggle::before {
  transform: rotate(45deg);
  box-shadow: none;
}

.main-nav--opened .main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav--opened .main-nav__toggle:hover::before,
.main-nav--opened .main-nav__toggle:hover::after {
  background-color: $red;
}

.main-nav--opened .main-nav__toggle:active::before,
.main-nav--opened .main-nav__toggle:active::after {
  background-color: $red;
  opacity: 0.3;
}

.main-nav__list {
  margin: 0;
  padding: 0;

  @media (min-width: $desktop-width) {
    width: 620px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 48px 0;
  }
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__header-container {
  background-color: $lightblue;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-nav--nojs .main-nav__container {
  display: block;
  position: static;
  min-height: 0;
}

.main-nav--nojs .main-nav__item {
  display: block;
  background-color: $lightblue;

  @media (min-width: $desktop-width) {
    background-color: transparent;
  }
}

.main-nav--nojs .main-nav__link {
  padding-right: 21px;
  padding-left: 21px;
  text-align: left;
}

.main-nav__item {
  list-style: none;
  box-shadow: 0 1px 0 #000000, inset 0 1px 0 rgba(255, 255, 255, 0.15);

  @media (min-width: $desktop-width) {
    font-weight: 400;
    line-height: 18px;
    text-transform: capitalize;
    box-shadow: none;

    &--active {
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0;
        bottom: -19px;
        left: 0;
        height: 2px;
        background-color: $white;
      }
    }
  }
}

.main-nav__link {
  display: block;
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: $white;

  &:hover {
    color: $red;
  }

  &:active {
    color: $red;
    opacity: 0.3;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    text-transform: capitalize;
  }
}

