.main-footer {
  padding: 40px 0 40px;
  background-color: #ffffff;
}

.main-footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 38px;
}

.social__list {
  padding: 0;
  list-style: none;
  margin-bottom: 38px;
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #283645;
}
