.main-header {
  background-color: $black;
  color: $white;
}

.main-header__background-image {
  display: block;
  background-image: url("../../img/background-header.jpg");
  background-color: $black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  @media (min-width: $tablet-width) {

  }
}

.main-header__content {
  @media (min-width: $tablet-width) {
    padding: 102px 20px 119px;
    width: 50%;
    // // background-image: url("../img/hand-with-phone-medium.png");
    // background-repeat: no-repeat;
    // background-position: -17px;
  }

  @media (min-width: $desktop-width) {
    padding: 114px 130px 130px;
    width: 310px;
    // background-image: url("../img/hand-with-phone-large.png");
  }
}

.main-header__slogan {
  margin: 0;
  padding: 29px 20px 320px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  text-align: center;

  br {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-bottom: 39px;
    padding: 0;
    font-size: 40px;
    line-height: 48px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 51px;
    font-size: 50px;
    line-height: 68px;
  }
}

.main-header__slogan-form {
  margin: 0;
  padding: 36px 46px 51px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 61px 20px 65px;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 226px 104px;
  }
}

.main-header__catalog-slogan {
  margin: 0;
  padding: 36px 74px 84px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: $white;

  @media (min-width: $tablet-width) {
    padding: 81px 151px 143px;
    font-size: 50px;
    line-height: 68px;
  }

  @media (min-width: $desktop-width) {
    padding: 74px 422px 104px;
  }
}

.main-header__store {
  padding: 28px 20px 38px 20px;
  background-color: $darkblue;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-color: transparent;
  }
}
