.main-footer {
  padding: 40px 70px 40px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 36px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 70px 130px;
  }
}

.main-footer__logo {
  display: block;
  margin: 0 auto;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

