.modal-success {
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 460px;
  }

  @media (min-width: $desktop-width) {
    width: 780px;
  }
}


.modal-success__container {
  padding-top: 44px;
  padding-bottom: 41px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding: 49px 41px 35px;
  }

  @media (min-width: $desktop-width) {
    box-sizing: border-box;
    padding: 49px 192px 44px;
  }
}

.modal-success__title {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: $black;
}

.modal-success__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: $lightblue;
}

.modal-success__close-container {
  padding: 52px 22px;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding: 52px 82px;
  }

  @media (min-width: $tablet-width) {
    padding: 52px 162px;
  }
}

.modal-success__close {
  margin: 0 auto;
}
