.modal-success__container {
  padding-top: 44px;
  padding-bottom: 41px;
  background-color: #ffffff;
}

.modal-success__title {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.modal-success__description {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}

.modal-success__close-container {
  padding: 52px 22px;
}
