.modal-fail__container {
  padding: 41px 22px 52px;
  background-color: #ffffff;
}

.modal-fail__title {
  margin: 0;
  margin-bottom: 37px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.modal-fail__description {
  margin: 0;
  margin-bottom: 48px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #283645;
}

.modal-fail__accept {
  margin: 0;
}
