.page__body {
  margin: 0 auto;
  outline: 1px solid #283645;
  width: 320px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  background-color: $grey;
  color: $lightblue;
}

@media (min-width: $tablet-width) {
  .page__body {
    width: 660px;
  }
}

@media (min-width: $desktop-width) {
  .page__body {
    width: 1200px;
  }
}
