.reviews__container {
  padding: 50px 20px 60px 20px;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding: 100px 20px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 193px 130px 41px;
    background-image: url("../img/quotes.svg");
    background-repeat: no-repeat;
    background-size: 79px 63px;
    background-position: top 72px center;
  }
}

.reviews__list {
  @media (min-width: $desktop-width) {
    // margin: 0 126px;
    padding: 0 126px;
  }
}

.reviews__item {
  margin: 0;
  margin-bottom: 44px;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.reviews__author-info {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
  }
}

.reviews__author-name {
  margin-bottom: 31px;
  display: block;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.reviews__author-resume {
  display: none;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.reviews__text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    margin-bottom: 51px;
    font-size: 18px;
  }
}
