.slider {
  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.slider__container {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
  }
}

.slider__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider__button {
  width: 22px;
  height: 41px;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: transparent;

  &:hover path {
    fill: $lightblue;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.slider__button-right,
.slider__button-left {
  fill: $lightblue;
  opacity: 0.3;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.1;
  }
}

.slider-toggles__toggle {
  padding: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $lightblue;
  opacity: 0.3;
  cursor: pointer;
  border: 3px solid $white;
  box-sizing: content-box;

  &:not(:last-child) {
    margin-right: 19px;
  }

  &--current {
    background-color: $white;
    border: 3px solid $lightblue;
    opacity: 1;
  }

  &:not(.slider-toggles__toggle--current):hover {
    background: $lightblue;
    opacity: 0.6;
  }

  &:active {
    background: $lightblue;
    opacity: 0.1;
  }
}
