.slider__toggles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.slider-toggles__toggle {
  padding: 0;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: $lightblue;
  opacity: 0.3;
  cursor: pointer;
  border: 3px solid $white;
  box-sizing: content-box;
}

.slider-toggles__toggle:not(:last-child) {
  margin-right: 19px;
}

.slider-toggles__toggle--current {
  background-color: $white;
  border: 3px solid $lightblue;
  opacity: 1;
}
