.social__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }
}

.social__item {
  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-right: 9px;
    }
  }
}

.social__link {
  box-sizing: border-box;
  display: block;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 54px;
  height: 54px;
  border-radius: 50%;
  border: 3px solid #2836451a;

  &:hover {
    border: 3px solid $lightblue;
  }

  &--vk {
    background-image: url("../img/logos/vk.svg");

    &:active {
      opacity: 0.1;
      border: 3px solid $lightblue;
    }
  }

  &--telegram {
    background-image: url("../img/logos/telegram.svg");

    &:active {
      opacity: 0.1;
      border: 3px solid $lightblue;
    }
  }

  &--youtube {
    background-image: url("../img/logos/youtube.svg");

    &:active {
      opacity: 0.1;
      border: 3px solid $lightblue;
    }
  }
}

