.soft-form__container {
  padding: 42px 22px;
}

.soft-form__title {
  margin: 0;
  margin-bottom: 40px;
  text-align: center;
}

.soft-form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.soft-form__list {
  padding: 0;
  margin: 0;
  list-style: none;
}
