// Начните писать стили здесь
@import "./variables.scss";
@import "./global.scss";
@import "./fonts.scss";
@import "./visually-hidden.scss";
@import "./blocks/page.scss";
@import "./blocks/main-header.scss";
@import "./blocks/button-secondary.scss";
@import "./blocks/main-nav.scss";
@import "./blocks/store.scss";
@import "./blocks/advantages.scss";
@import "./blocks/note.scss";
@import "./blocks/reviews.scss";
@import "./blocks/slider.scss";
@import "./blocks/tariff-plan.scss";
@import "./blocks/contacts.scss";
@import "./blocks/main-footer.scss";
@import "./blocks/main-form.scss";
@import "./blocks/name-form.scss";
@import "./blocks/achievements-form.scss";
@import "./blocks/input.scss";
@import "./blocks/check-input.scss";
@import "./blocks/contacts-form.scss";
@import "./blocks/soft-form.scss";
@import "./blocks/feedback-form.scss";
@import "./blocks/button-primary.scss";
@import "./blocks/modal-fail.scss";
@import "./blocks/modal-success.scss";
@import "./blocks/catalog.scss";
@import "./blocks/user-card.scss";
@import "./blocks/button-catalog.scss";
@import "./blocks/upload.scss";
@import "./blocks/editor.scss";
@import "./blocks/social.scss";
@import "./blocks/copyright.scss";
