.tariff-plan__grid {
  box-sizing: border-box;
  width: $column-mobile-width * 4;
  border-collapse: collapse;
  transform: translateX(-$column-mobile-width + 21px);

  @media (min-width: $tablet-width) {
    width: $column-tablet-width * 4;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    width: $column-desktop-width * 4;
  }
}

.tariff-plan__container {
  padding-top: 83px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 116px 20px 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 159px 130px 96px;
  }
}

.tariff-plan__title,
.tariff-plan__advantage-title {
  width: $column-mobile-width;

  @media (min-width: $tablet-width) {
    width: $column-tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $column-desktop-width;
    font-size: 18px;
  }
}

.tariff-plan__title {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  height: 94px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $white;

  @media (min-width: $tablet-width) {
    height: 75px;
  }

  @media (min-width: $desktop-width) {
    height: 94px;
    font-size: 18px;
  }

  &--decore {
    background-color: $lightblue;
    border-left: 2px solid $grey;
    border-right: 2px solid $grey;
  }

  &--disabled {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      visibility: hidden;
    }
  }

  &--hit::after {
    content: "Хит";
    width: 87px;
    height: 22px;
    position: absolute;
    top: 11px;
    left: -22px;
    transform: rotate(-45deg);
    background-color: $red;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    text-align: center;

    @media (min-width: $tablet-width) {
      height: 19px;
      left: -29px;
      line-height: 19px;
    }

    @media (min-width: $desktop-width) {
      width: 104px;
      height: 24px;
      left: -29px;
    }
  }

}

.tariff-plan__price {
  margin-top: 15px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  display: block;

  @media (min-width: $desktop-width) {
    font-size: 24px;
  }
}

.tariff-plan__advantage-title {
  box-sizing: border-box;
  padding: 24px 125px 24px 21px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  text-transform: uppercase;
  background-color: $white;
  border: 2px solid $lightgrey;
  border-top: none;
  color: $lightblue;

  @media (min-width: $tablet-width) {
    padding: 18px 24px 17px 15px;
    text-transform: capitalize;
  }

  @media (min-width: $desktop-width) {
    padding: 23px 65px 23px 22px;
    font-size: 17px;
  }

  &--yes {
    background-image: url("../img/yes.svg");
    background-repeat: no-repeat;
    background-position: right 19px bottom 50%;

    @media (min-width: $tablet-width) {
      background-position: 50% 50%;
    }
  }

  &--no {
    background-image: url("../img/no.svg");
    width: 27px;
    height: 27px;
    background-repeat: no-repeat;
    background-position: right 8% bottom 50%;

    @media (min-width: $tablet-width) {
      background-position: 50% 50%;
    }
  }

  &--disabled {
    @media (min-width: $tablet-width) {
      font-size: 1px;
      color: transparent;
    }
  }

  &--disabled-icon {
    @media (min-width: $tablet-width) {
      background-image: none;
    }
  }
}

.tariff-plan__toggles {
  margin-top: 44px;
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
