.tariff-plan__grid {
  box-sizing: border-box;
  width: $column-mobile-width * 4;
  border-collapse: collapse;
  transform: translateX(-$column-mobile-width + 22px);

  @media (min-width: $tablet-width) {
    width: $column-tablet-width * 4;
    transform: none;
  }

  @media (min-width: $desktop-width) {
    width: $column-desktop-width * 4;
  }
}

.tariff-plan__container {
  padding-top: 83px;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding: 116px 20px 72px;
  }

  @media (min-width: $desktop-width) {
    padding: 159px 130px 96px;
  }
}

.tariff-plan__title,
.tariff-plan__advantage-title {
  width: $column-mobile-width;

  @media (min-width: $tablet-width) {
    width: $column-tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $column-desktop-width;
  }
}

.tariff-plan__title {
  box-sizing: border-box;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.3;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: $white;
}

.tariff-plan__title--decore {
  padding: 19px 0 35px;
  background-color: $lightblue;
  border-left: 2px solid $grey;
  border-right: 2px solid $grey;
}

.tariff-plan__title--disabled {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    visibility: hidden;
  }
}

.tariff-plan__price {
  margin-top: 15px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  text-transform: uppercase;
  display: block;
}

.tariff-plan__advantage-title {
  padding: 24px 0 24px 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  text-transform: uppercase;
  background-color: $white;
  border: 2px solid $lightgrey;
  border-top: none;
  color: $lightblue;
}

.tariff-plan__advantage-title--disabled {
  @media (min-width: $tablet-width) {
    font-size: 1px;
    color: transparent;
  }
}

.tariff-plan__toggles {
  margin-top: 44px;
  margin-bottom: 46px;

  @media (min-width: $tablet-width) {
    display: none;
  }
}
