.upload__image {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 42px;
}

.upload__editor-container {
  margin-bottom: 27px;
}

.upload__buttons-container {
  padding: 38px 20px 41px;
  border-top: 1px solid #2836451a;
}

.upload__post {
  margin-bottom: 12px;
}
