.user-card {
  margin: 0 10px 20px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    width: calc(50% - 20px);
  }

  @media (min-width: $desktop-width) {
    width: calc(33% - 17px);
  }

  &--hit {
    padding: 0;
    margin: 0;
    position: relative;

    &::after {
      content: "Панорама дня";
      position: absolute;
      width: 140px;
      height: 36px;
      top: 0;
      right: 20px;
      text-transform: uppercase;
      text-align: center;
      font-size: 12px;
      line-height: 36px;
      font-weight: 700;
      color: $white;
      background-color: $red;

      @media (min-width: $tablet-width) {
        top: 57px;
      }

      @media (min-width: $desktop-width) {
        top: 54px;
        right: 130px;
      }
    }

    @media (min-width: $tablet-width) {
      width: 100%;
      margin-bottom: 50px;
    }
  }
}


.catalog__list {
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.user-card__container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 26px 10px 26px 17px;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    padding: 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 27px;
  }

  &--hit {
    margin: 0 20px 20px 20px;
    padding: 25px 10px 25px 17px;
    background-color: $grey;

    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      padding: 30px;
    }

    @media (min-width: $desktop-width) {
      margin: 0 130px;
      padding: 30px;
    }
  }
}


.user-card__photo {
  display: block;
}

.user-card__author {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: $lightblue;

  @media (min-width: $tablet-width) {
    &--hit {
      flex-basis: 50%;
    }
  }
}

.user-card__time {
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: $lightblue;
}

.user-card__description {
  margin: 0;
  width: 100%;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: $lightblue;

  &--hit {
    @media (min-width: $tablet-width) {
      margin-bottom: 0;
      order: 3;
    }

    @media (min-width: $desktop-width) {
      br {
        display: none;
      }
    }
  }
}

.user-card__like {
  @media (min-width: $tablet-width) {
    order: 3;
  }
}
