// Colors
$white: #ffffff;
$black: #000000;
$red: #d22856;
$darkblue: #1d2631;
$lightblue: #283645;
$green: #2aab6d;
$grey: #f2f2f2;
$lightgrey: #e5e5e5;

// Viewports

$tablet-width: 660px;
$desktop-width: 1200px;
$mobile-width-only: 659px;

// table

$column-mobile-width: 276px;
$column-tablet-width: 152px;
$column-desktop-width: 233px;

// Catalog-gallery: hit

$photo-mobile-width-hit: 320px;
$photo-mobile-height-hit: 137px;
$photo-tablet-width-hit: 660px;
$photo-tablet-height-hit: 509px;
$photo-desktop-width-hit: 1200px;
$photo-desktop-height-hit: 506px;

// Catalog-gallery

$photo-mobile-width: 280px;
$photo-mobile-height: 180px;
$photo-tablet-width: 300px;
$photo-tablet-height: 300px;
$photo-desktop-width: 300px;
$photo-desktop-height: 400px;
